.departmentbg-wpr {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/departmentBackground.webp");
  background-position: center;
  background-size: cover;
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
}

.zoom {
  transition: transform 0.3s; /* Animation duration */
}

.zoom:hover {
  transform: scale(1.1); /* 150% zoom (Note: if the zoom is too large, it may go outside of the viewport) */
}
