.bg-wpr {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/aboutBackground.png");
  background-position: center;
  background-size: cover;
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
}

.about {
  max-width: 1400px;
  padding: 50px 5vw;
  margin: 0 auto;
  color: white;
}

.about-wpr {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  align-items: stretch;
}

.about-wpr>div {
  margin-top: 40px;
  flex: 1;
  gap: 15px;
  column-gap: 135px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.about-wpr>div>img {
  object-fit: contain;
  height: 280px;
}

@media (max-width: 600px) {
  .about-wpr>div>img {
    height: 240px;
  }
}

.about-wpr>div>p {
  font-weight: 700;
  margin: 0 20px;
}

.about-wpr>div>h2 {
  font-size: 32px;
  color: #ffb100;
  min-height: 65px;
  line-height: 32px;
}
